body {
    background-color: ;
    background-color: #7D7F85;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main{
   width: 800px;
   margin: auto;
   display: flex;
   flex-wrap: wrap;
}

header{
    height: 200px;
    width: 100%;
}

aside{
    display: flex;
    flex-direction: column;
    background-color: #F8C013;
    text-align: center;
    width: 30%;
    height: 600px;
    float: left;
}

section{
    display: flex;
    flex-direction: column;
    background-color: #C2C3C2;
    color:  #886829;
    text-align: center;
    height: 560px;
    width: 70%;
    padding-top: 40px;
    float right;
}

footer{
    background-color: #1A3B98;
    text-align: center;
    color: #fff;
    width: 100%;
    display: flex;
    flex direction: row;
    justify-content: center;
}

#auto {
    width: 75%;
    margin: auto;
}

