body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #7D7F85;
}
main{
    width: 800px;
    margin: auto;
display: flex;
flex-wrap: wrap;
}
header{
    height: 260px;
    width: 100%;
}
aside{
    background-color: #1a3b98;
    text-align: center;
    height: 600px ;
    width: 20%;
}
section{
    background-color: #c2c3c2;
    text-align: center;
    color: #886829;
    height: 560px;
    width: 80%;
    padding-top: 40px;
}
footer{
    background-color: #1a3b98;
    text-align: center;
    color: white;
    width: 100%;
}
<table>
          <tr>
            <td class="head">Wartość współczynnika</td>
            <td class="head">Kategoria BMI</td>
          </tr>
          <tr>
            <td><18,5</td>
            <td>Niedowaga</td>
          </tr>
          <tr>
            <td>18,5 - 24,9</td>
            <td>Norma</td>
          </tr>
          <tr>
            <td>25,0 - 29,9</td>
            <td>Nadwaga</td>
          </tr>
          <tr>
            <td>30,0 - 34,9</td>
            <td>Otyłość 1st.</td>
          </tr>
          <tr>
            <td>35,0 - 39,9</td>
            <td>Otyłość 2st.</td>
          </tr>
          <tr>
            <td>>39,9</td>
            <td>Otyłość 3st.</td>
          </tr>
        </table>
