body{
    font-family: garamond;
    margin-left: 100px;
    width: 80%;
}

header{
    background-color: indigo;
    color: white;
    font-size: 140%;
    height: 150px;
    width: 75%;
    text-align: center;
    float: right;
    
    
}
section{
    width:25%;
    height: 500px;
    background-color: lavender;
    float: left;
}
aside{
    height: 300px;
    width: 25%;
    background-color: lavender;
    float: left;
    
}

#pic{
    padding: 5px;
    margin: 10px;
}

main{
    height: 650px;
    width: 75%;
    background-color: lavender;
    font-size: 200%;
    text-align: center;
    float: right;
}
footer{
    background-color: indigo;
    color: white;
    text-align: right;
}



