body{
    font-family: Georgia, 'Times New Roman', Times, serif
}
header{
    background-color: rgb(197, 85, 160);
    width: 50%;
    height: 180px;
    text-align: center;
}
section{
    background-color: rgb(246, 226, 222);
    text-align: center;
    padding: 10px;
    height: 100px;
}
main{
    background-color: rgb(197, 85, 160);
    color: white;
    width: 50%;
    height: 400px;

}
h2{
    font-size: 200%;
    letter-spacing: 10px;
}
table{
    border: 2px solid blue;
    margin: 20px;
    padding: 10px;
}