.container{
    display: flex;
    flex-wrap: wrap;

}

body{
    background-color: rgb(196, 206, 209);
}

header{
    display: flex;
    justify-content: center;
    width: 100%;
    color: rgb(135, 188, 188);
    background-color: rgb(126, 126, 140);
    height: 25%;
}

a{
    text-decoration: none;
    color: aliceblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

img{
    
}

button{
    background-color: rgb(124, 153, 205);
    border: none;
    font-size: 120%;
}


nav{
    display: flex;
    align-items: center;
    width: 45%;
    justify-content: space-evenly;
    font-size: 125%;
    text-decoration:none;
    float: left;
}

main{
    justify-content: space-between;
    text-align: center;
}

form{
    height: 30%;
    
}