body{
    background-color: #000;
    display: flex;
    justify-content: center;
}


button{
   color: white;
   margin: 10px;
   font-size: medium;
}
.liczba{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: #333333;
    border: solid 1px #333333;
    
}
.funkcja{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: #a5a5a5;
    border: solid 1px #a5a5a5;
}
.dzialanie{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color:  #ff9f0a;
   border: solid 1px #ff9f0a
}
.zero{
    width: 175px;
    height: 75px;
    
    border-radius: 30%;
    background-color: #333333;
    border: solid 1px #333333;
    
}