.container {
  display: flex;
 align-items: flex-start;
}
div {
  border: 1px solid red;
  margin: 5px;
}
header {
  background-color: #ffbc36;
  border: 1px solid black;
  text-align: center;
   display: flex;
 align-items: flex-start;
  grid-row: 1;
  grid-column: 1;
}
#texthf {
  border: 1px solid blue;
  text-align: center;
}
article {
  border: 1px solid rgb(0, 17, 255);
}
p {
  text-align: center;
}
#zajawka {
  display: flex;
  background-color: #ccffaa;
  align-tracks;
 
  width: 25%;
}
#artykul {
  display: flex;
  background-color: #a5d8dd;
 
  width: 50%;
}
#reklama {
  display: flex;
  background-color: #ffde66;
  ;
  width: 25%;
}
